<!DOCTYPE html>
<html>

<head>
    <Title>Battleships</Title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="javascripts/interaction.js"></script>
    <script src="javascripts/connection.js"></script>
    <script src="javascripts/htmlUpdateFunctions.js"></script>
    <span class="style_splash">
        <link href="stylesheets/splash_screen_style.css" type="text/css" rel="stylesheet" /></span>
</head>

<body>
    <div id="media">
        <p>Resolution is below recommended level!</p>
    </div>
    <div class="container">
        <header>
            <img id="game_logo" src="/images/logo_wp.png" height="100" width="100">
            <div id="game_name">BATTLESHIP</div>
        </header>

        <section id="controls">
            <div class="control_element_play">
                <span class="button" id="play_button" onclick="play()">Play</span>
            </div>
        </section>
        <div id="waiting">Waiting for the second player...</div>
        <footer>
            <p id="stats">
                <%= gamesInitialized %>
                <%if (gamesInitialized != 1) { %>
                games
                <% } else { %>
                game
                <% } %>
                initialized,
                <%= gamesAborted %>
                aborted,
                <%= gamesCompleted %>
                completed
            </p>
            <p id="lastVisit">
                <%= lastVisit %>
            </p>
        </footer>
    </div>

</body>

</html>
