@font-face {
    font-family: Quicksand;
    src: url(/fonts/Quicksand-Regular.woff);
}

* {
    overflow: hidden;
}

body {
    font-family: Quicksand;
    margin: 0;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;

}

.container::before {
    background-image: url(/images/michael-afonso-419936-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -2;
}

.boatListGroup {
    text-align: left;
    height: 80%;
    width: 25%;
    border: 3px dotted white;
    position: absolute;
}

.boatListGroup::after {
    background-color: white;
    opacity: 0.3;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#boatListClient {
    bottom: 10%;
    left: 2%;
}

#boatListOther {
    top: 8%;
    right: 2%;
}

.boatList {
    font-size: 150%;
    padding: 10%;
}

.gameGridGroup {
    margin: auto;
    width: 300px;
    height: 100%;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gameGridDivs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(11, auto);
    padding: 5px;

}

.gameGridDivs:not(:fullscreen) {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(11, auto);
    padding: 5px;

}

.gameGridDivs:fullscreen {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(11, auto);
    padding: 5px;

}

#gameGridOther {
    margin-bottom: 30px;
}

.gameGridHeader {
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    text-align: center;
    float: left;
    background-color: darkgrey;
    opacity: 0.80;

}

.gameGridCell {

    border: 1px solid grey;
    background-color: white;
    opacity: 0.55;
    width: 25px;
    height: 25px;
    float: left;
}

.gameGridCell:hover {

    background-color: grey;
    opacity: 0.5;
}

.readyLight {

    float: right;
}

.readyButton {
    width: 105px;
    height: 35px;
    background-color: white;
    opacity: 0.7;
    font-size: 200%;
    border: 2px solid white;
    border-radius: 100px;
    padding: 5px 15px;
    position: absolute;
    top: 2%;
    left: 8%;

}

.readyButton:hover {
    cursor: pointer;
    width: 150px;
    transition: 0.3s;
}

#emoji {
    font-size: 90%;
}

.textInfoBox {
    background-color: white;
    opacity: 0.7;
    border: 2px solid white;
    border-radius: 100px;
    padding: 5px 80px 5px 40px;
    font-size: 250%;

}

#final_screen_container {
    position: fixed;
    width: 100%;
    top: 20px;
    text-align: center;
    z-index: 11;
}

#final_screen {
    font-size: 300%;
    font-weight: 300%;
    display: none;
    z-index: 12;
}

#final_screen_background {
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: none;
    position: fixed;
    z-index: 10;
}

.boat {
    display: block;
    padding: 5%;
}

.orientationButton {
    height: 15%;
    width: 15%;
}

#media {
    position: fixed;
    height: 100%;
    width: 100%;
    color: white;
    display: none;
    background-color: white;
    opacity: 0.7;
    z-index: 20;
}

#media p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 300%;
    visibility: visible;
    z-index: 21;
}

@media (max-width: 1280px),
(max-height: 800px) {
    #media {
        display: block;
    }
}
