* {
    overflow: hidden;
}

.boatListGroup {

    height: 80%;
    width: 25%;

    border-style: dotted;

    float: inline;

    position: absolute;
    bottom: 10%;
    left: 2%;

}

.boatList {

    height: auto;
    width: auto;

    padding: 10%;
    border: 5px solid pink;
}

.gameGridGroup {
    margin: auto;
    float: inline;

    height: 100%;
    width: 30%;

    position: absolute;
    top: 0%;
    left: 34%;

    border: solid black;
}

.gameGridDivs {
    height: 45%;

    display: grid;

    grid-template-columns: repeat(11, auto);

    background-color: blue;

    padding: 5px;

    border: solid salmon;

}

.gameGridHeader {


    border: solid darkcyan 1px;

    background-color: aquamarine;
}

.gameGridCell {

    border: solid darkcyan 1px;

    background-color: aquamarine;
}

.readyLightsGroup {
    position: absolute;
    bottom: 13%;
    left: 65%;

    text-align: center;

    height: 75%;

    border: solid black
}

.readyLight {

    position: relative;
    top: 0%;

    padding-top: 350%;
    padding-bottom: 500%;
}




.readyButton {
    position: absolute;
    bottom: 50%;
    left: 80%;
}

.textInfoBox {
    position: absolute;
    top: 10%;
    right: 10%;
}

#disconnection_container {
    position: fixed;
    width: 100%;
    top: 20px;
    text-align: center;
    z-index: 11;
}

#disconnection {
    font-size: 300%;
    font-weight: 300%;
    display: none;
    z-index: 12;
}

#disconnected_screen_background {
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    display: none;
    position: fixed;
    z-index: 10;
}
