* {
    overflow: hidden;
    text-align: center;
}


header img {
    margin-top: 100px;
}

header div {
    margin-top: 30px;
    font-size: 200%
}

#controls,
#waiting {
    margin-top: 200px;
}


.control_element_play {
    font-size: 150%;
    padding: 10px;
    margin-top: 20px;
}


#play_button {
    padding: 0px 20px;
    border: 2px solid red;
    border-radius: 30px;
}

#play_button:hover {
    cursor: pointer;
    padding: 2px 30px;
    transition: 0.3s;
}

#waiting {
    display: none;
}
