@font-face {
    font-family: Quicksand;
    src: url('/fonts/Quicksand-Regular.woff');
}

* {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Quicksand;
    text-align: center;
}

.container {
    position: fixed;
    background-image: url(/images/michael-afonso-419936-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.97;
}

#game_logo {
    position: absolute;
    left: 50px;
    top: 50px;
}

#game_name {
    display: inline;
    position: absolute;
    top: 70px;
    left: 170px;
    font-size: 300%;
}

.control_element_play,
#waiting {
    font-size: 400%;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, 0);
}


#play_button {
    background-color: white;
    opacity: 0.4;
    padding: 0px 50px;
    border: 2px solid white;
    border-radius: 100px;
    transition: 0.3s;
}

#play_button:hover {
    cursor: pointer;
    padding: 5px 30px;
    transition: 0.3s;
}

#waiting {
    display: none;
    font-size: 250%;
    border: 2px solid white;
    border-radius: 100px;
    background-color: white;
    opacity: 0.4;
}
